*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: lightblue;
}

.calculator{
    width:100%;
    max-width:400px;
    margin:50px auto;
    border-radius: 12px;
    overflow: hidden;
 box-shadow:5px 5px 5px #000000;
 background-color: blanchedalmond;
    
}

.cal_screen{
    background-color: yellowgreen;
    width: 100%;
    min-height: 100px;
    text-align: right;
    font-size: 30px;
    padding: 12px;
}
.cal_button{
    background: whitesmoke;
    padding: 15px;;
}

#button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

#button li{
    background: whitesmoke;
    font-size: 25px;
    width:20%;
    margin:5px 5px;
    color:black;
    padding: 10px;
    border-radius:25% ;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bolder;
}

#button li:hover{
    background: #777777;
    color:whitesmoke;
}